/* image: width, height, padding */

div.column {
  max-width: 800px;
}

figure.fixedratio {
  padding-top: 56.25%;
  /* 450px/800px = 0.5625 */
  padding-bottom: 25%;
}

figure.fixedratio {
  padding-bottom: 0%;
}

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-family: "Tangerine", serif;
  font-size: 38px;
}

.nav-link:hover {
  text-decoration: underline;
}

body {
  background-image: url("LouisArmstrongCollage.jpg.png");
  background-color: rgb(36, 35, 35);
}
